html {
	height: 100%;
	font-family: "Comic Sans MS", "Comic Sans", cursive; }


body {
	text-align: center;
	min-height: 100%; }


h4 {
	margin-top: 0;
	margin-bottom: 0; }


#content, #contentGame {
	border-top: 3px solid #31373f;
	display: block;
	padding: 30px 50px 30px 50px;
	margin: 0px auto 50px auto;
	width: 80%;
	min-height: 4em;
	overflow: auto;
	text-align: center; }
#contentGame {
	padding-top: 0 !important; }


#goal {
	margin: 20px auto 20px auto;
	position: center; }


#jobDescription {
	list-style: none; }


#formDiv, #hamsterContent, #infoContent{
	display: none; }
#form {
	margin: 20px 0 20px 0; }
#nameInputDiv {
	padding: 20px; }
#hamsterName {
	height: 20px; }


button, #submitButton {
	font-family: 'Ubuntu', sans-serif;
        font-weight: bold; }
#submitButton {
	margin: 3px;
	border-style: solid;
	border-color: royalblue;
	color: white;
	background-color: cornflowerblue;
        padding: 2px 12px;
    	border-style: solid;
	font-size: medium; }
#startButton {
	margin: 10px;
	border-style: solid;
	border-width: thick;
	border-radius: 13px;
	border-color: darkseagreen;
	color: darkseagreen;
	background-color: white;
        padding: 15px 40px;
    	border-style: solid;
    	font-size: large; }


#tabs {
	height: auto;
	display: flex;
	border-bottom-color: black;
    	border-bottom-style: solid; }
#hamsterTab, #statusTab, #infoTab {
	font-size: 15px;
	border: white;
    	border-bottom-style: solid;
    	background-color: white;
    	color: black;}
#hamsterTab:focus, #statusTab:focus, #infoTab:focus {
	font-size: 15px;
	border: black;
    	border-bottom-style: solid;
    	background-color: black;
    	color: white;
	outline: 0; }
#hamsterTab:disabled {
	border: grey;
	background-color: grey; }


table {
	width: 100%; }
th. td {
	padding: 7px 10px 10px 10px; }
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left; }
#currentJob p {
	margin: 0; }
#jobButtons {
	display: inline-flex; }


#control, #links {
	margin-top: 30px; }
#buyCastle, #restartInGamePg, #restart, #return {
	margin: 10px;
	border-style: solid;
	border-width: thick;
	border-radius: 13px;
	background-color: white;
    	border-style: solid;
    	font-size: large; 
	vertical-align: bottom; } 
#buyCastle {
	border-color: lightgrey;
	color: lightgrey;
        padding: 5px 10px; }
#buyCastle:enabled {
	border-color: crimson;
	color: crimson;
}
#restartInGamePg {
	border-color: dimgrey;
	color: dimgrey;
	padding: 5px 10px;
}
#restart {
	border-color: steelblue;
	color: steelblue;
	padding: 15px 40px;
} 
#return {
	border-color: dimgrey;
	color: dimgrey;
	padding: 5px 10px;
} 


#regular {
	color: darkred;
}
#nice {
	color: forestgreen;
}
#hot {
	color: red;
}
#cold {
	color: cadetblue;
}
